.tasks_div {
    margin-bottom: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.progress-bar {
    background-color: #28a745;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    .tasks_div {
        width: 600px;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {}