.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #dcdcdc;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1.1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
    .navbar-nav .nav-item .nav-link {
        text-align: center;
        padding: 10px;
        margin: 5px 0;
    }
}